@import "../../../assets/css/colors.scss";

.pkmn-card-types {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  justify-items: center;
}

.pkmn-card-footer-text {
  display: flex;
  justify-content: flex-end;
}

.pkmn-card-img {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: white;
}

.pkmn-card-header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.pkmn-card-header-img {
  // margin-left: 10px;
  margin-right: 10px;
}

.pokeball-not-captured {
  filter: brightness(0.3);
}

.pokeball-captured {
  filter: brightness(1);
}

.pkmn-card-footer-captured-check {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pkmn-card-footer-captured-check-pokeball-img {
  cursor: pointer;
}

.pkmn-card-container {
  padding: 10px;
  // background: linear-gradient(90deg, #d7bb50 35%, #d7bb50 100%);
  // background: linear-gradient(
  //   90deg,
  //   rgba(215, 187, 80, 1) 1%,
  //   rgba(39, 70, 120, 1) 3%
  // );
  background: radial-gradient(
    circle,
    rgba(215, 187, 80, 1) 10%,
    rgba(39, 70, 120, 1) 47%,
    rgba(215, 187, 80, 1) 90%
  );
  // blue
  //background: #274678;

  border-radius: 2%;
}

.pkmn-card-img-container {
  padding: 10px;
  // background: #274678;
  margin-bottom: 20px;
  border-radius: 2%;
}

@mixin card-background-gradient($type-one) {
  background: linear-gradient(90deg, $type-one 35%, $type-one 100%);
}

.gradient-bug {
  box-shadow: 0 0 10px $bug-color;
  @include card-background-gradient($bug-color);
}

.gradient-dark {
  box-shadow: 0 0 10px $dark-color;
  @include card-background-gradient($dark-color);
}

.gradient-dragon {
  box-shadow: 0 0 10px $dragon-color;
  @include card-background-gradient($dragon-color);
}

.gradient-electric {
  box-shadow: 0 0 10px $electric-color;
  @include card-background-gradient($electric-color);
}

.gradient-fire {
  box-shadow: 0 0 10px $fire-color;
  @include card-background-gradient($fire-color);
}

.gradient-fairy {
  box-shadow: 0 0 10px $fairy-color;
  @include card-background-gradient($fairy-color);
}

.gradient-fighting {
  box-shadow: 0 0 10px $fighting-color;
  @include card-background-gradient($fighting-color);
}

.gradient-flying {
  box-shadow: 0 0 10px $flying-color;
  @include card-background-gradient($flying-color);
}

.gradient-ghost {
  box-shadow: 0 0 10px $ghost-color;
  @include card-background-gradient($ghost-color);
}

.gradient-grass {
  box-shadow: 0 0 10px $grass-color;
  @include card-background-gradient($grass-color);
}

.gradient-ground {
  box-shadow: 0 0 10px $ground-color;
  @include card-background-gradient($ground-color);
}

.gradient-ice {
  box-shadow: 0 0 10px $ice-color;
  @include card-background-gradient($ice-color);
}

.gradient-normal {
  box-shadow: 0 0 10px $normal-color;
  @include card-background-gradient($normal-color);
}

.gradient-poison {
  box-shadow: 0 0 10px $poison-color;
  @include card-background-gradient($poison-color);
}

.gradient-psychic {
  box-shadow: 0 0 10px $psychic-color;
  @include card-background-gradient($psychic-color);
}

.gradient-rock {
  box-shadow: 0 0 10px $rock-color;
  @include card-background-gradient($rock-color);
}

.gradient-steel {
  box-shadow: 0 0 10px $steel-color;
  @include card-background-gradient($steel-color);
}

.gradient-water {
  box-shadow: 0 0 10px $water-color;
  @include card-background-gradient($water-color);
}

:host ::ng-deep {
  .p-chip.custom-chip {
    background: black !important;
    color: white !important;
  }
  .p-chip.bug {
    background-color: $bug-color !important;
    box-shadow: 0 0 20px $bug-color;
    color: white !important;
    /*background-image: url(./icons/bug.svg);*/
  }

  .p-chip.dark {
    background-color: $dark-color !important;
    box-shadow: 0 0 20px $dark-color;
    color: white !important;
  }

  .p-chip.dragon {
    background-color: $dragon-color !important;
    box-shadow: 0 0 20px $dragon-color;
    color: white !important;
  }

  .p-chip.electric {
    background-color: $electric-color !important;
    box-shadow: 0 0 20px $electric-color;
    color: white !important;
  }

  .p-chip.fire {
    background-color: $fire-color !important;
    box-shadow: 0 0 20px $fire-color;
    color: white !important;
  }

  .p-chip.fairy {
    background-color: $fairy-color !important;
    box-shadow: 0 0 20px $fairy-color;
    color: white !important;
  }

  .p-chip.fighting {
    background-color: $fighting-color !important;
    box-shadow: 0 0 20px $fighting-color;
    color: white !important;
  }

  .p-chip.flying {
    background-color: $flying-color !important;
    box-shadow: 0 0 20px $flying-color;
    color: white !important;
  }

  .p-chip.ghost {
    background-color: $ghost-color !important;
    box-shadow: 0 0 20px $ghost-color;
    color: white !important;
  }

  .p-chip.grass {
    background-color: $grass-color !important;
    box-shadow: 0 0 20px $grass-color;
    color: white !important;
  }

  .p-chip.ground {
    background-color: $ground-color !important;
    box-shadow: 0 0 20px $ground-color;
    color: white !important;
  }

  .p-chip.ice {
    background-color: $ice-color !important;
    box-shadow: 0 0 20px $ice-color;
    color: white !important;
  }

  .p-chip.normal {
    background-color: $normal-color !important;
    box-shadow: 0 0 20px $normal-color;
    color: white !important;
  }

  .p-chip.poison {
    background-color: $poison-color !important;
    box-shadow: 0 0 20px $poison-color;
    color: white !important;
  }

  .p-chip.psychic {
    background-color: $psychic-color !important;
    box-shadow: 0 0 20px $psychic-color;
    color: white !important;
  }

  .p-chip.rock {
    background-color: $rock-color !important;
    box-shadow: 0 0 20px $rock-color;
    color: white !important;
  }

  .p-chip.steel {
    background-color: $steel-color !important;
    box-shadow: 0 0 20px $steel-color;
    color: white !important;
  }

  .p-chip.water {
    background-color: $water-color !important;
    box-shadow: 0 0 20px $water-color;
    color: white !important;
  }
}
